@model Client.Models.OrderFoodDTOs.CartItemDTO

@{
    ViewData["Title"] = "CartItemDetails";
    Layout = "~/Views/Shared/_Layout_OrderFood.cshtml";
    <style>
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
        }
    </style>
}
<h1>Cart-Item Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartItemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-area="Guest" asp-controller="orderFood" asp-action="Index" asp-fragment="menu">Back to menu</a>
</div>
